{% extends 'main.html' %}

{% block content %}
    <h1>Home</h1>

    <a href="{% url 'create-room' %}"><button>Create Room</button></a>
    <br>
    <br>

    <div>
        {% for room in rooms %}
        <div>
            <a href={% url 'update-room' room.id  %}>Edit</a>
            <a href={% url 'delete-room' room.id  %}>Delete</a>

            <span>@{{room.host.username}}</span>
            <a href="{% url 'room' room.id %}">
                <h2>{{ room.name }}</h2>
            </a>
            <small>{{ room.topic.name }}</small>
        </div>
        {% endfor %}
    </div>

{% endblock content %}